/* Dark Theme */
body.dark {
    background-color: #232323;
}

body.dark .toggle-button>.toggle-button-switch {
    left: 52px;
}

body.dark .toggle-button>.toggle-button-text {
    background-color: #fc3164;
}

body.dark article {
    color: #fff;
}